<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find tennis_bot)/models"/>

    <arg name="world" default="empty" />
    <!-- Include empty world -->
    <arg name="ns" default="p3dx"/>
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="1.0" />
    <arg name="extra_gazebo_args" default="--verbose"/>

    <!-- Start Gazebo empty_world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" required="true">
        <arg name="world_name" value="$(find gazebo_ros)/worlds/$(arg world).world"/>
        <!-- <arg name="world_name" value="$(find tennis_bot)/models/court/tennis_court.world" /> -->
        <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)" />
    </include>

    <!-- Carrega a descrição do robô no ROS Parameter Server antes de spawná-lo -->
    <param name="/robot_description" command="$(find xacro)/xacro --inorder $(find tennis_bot)/urdf/pioneer3dx.xacro"/>

    <!-- Spawn robot-->
    <group ns="$(arg ns)">
        <param name="tf_prefix" value="$(arg ns)_tf" />
        <include file="$(find tennis_bot)/launch/spawn.launch">
            <arg name="name" value="$(arg ns)" />
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="z" value="$(arg z)" />
            <arg name="namespace_arg" value="$(arg ns)" />
            
        </include>
    </group>

    <!-- <node pkg="tennis_bot" name="teleop_key" type="teleop_key.py" output="screen"/> -->

</launch>